:root {
  --text: #0053d0;
  --highlight: #08c5ff;
}

body {
  background-color: #697f8f;
  margin-right: 30px;
  margin-left: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-btn {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: var(--text);
  font-weight: bold;
  border: 4px solid var(--highlight);
  font-family: "Oswald", sans-serif;
}

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 5px 15px;
  padding: 10px;
  border: 2px solid var(--highlight);
  border-radius: 20px;
  color: var(--text);
  font-weight: bold;
  background-color: white;
  font-size: 20px;
}

#question-container,
#input-container {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  border: 4px solid var(--highlight);
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
  box-shadow: 10px 10px 8px darkslategrey;
  font-family: "Encode Sans SC", sans-serif;
}

#question,
.leaderboard-heading {
  padding: 5px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  color: var(--text);
  font-family: "Oswald", sans-serif;
}

#high-score-list {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  border: 4px solid var(--highlight);
  font-size: 30px;
  font-weight: bold;
  color: var(--text);
  box-shadow: 10px 10px 8px darkslategrey;
  font-family: "Oswald", sans-serif;
}

.btn {
  font-size: 20px;
  background-color: var(--highlight);
  color: white;
  padding: 10px;
  border: 3px solid var(--text);
  border-radius: 8px;
  font-weight: bold;
  font-family: "Encode Sans SC", sans-serif;
}

.btn:hover {
  opacity: 0.6;
}

.start-btn:hover {
  color: #76dfff;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.float-left {
  float: left;
}

.correct {
  background-color: green;
  border: 3px solid white;
}

.wrong {
  background-color: red;
  border: 3px solid white;
}

.hide {
  display: none;
}
